<div class="bg" style="height: 100vh;" >
    <div class="container">
        <div class="row" style="padding-top: 10% !important;">
            <div class="col-2 m-5">
            </div>
            <div class="col-7">
                <p style="color: #fbf8f2; font-size: 6vh;">Savršen izbor za Vaš dom!</p>
            </div>
            <div class="col-2">
            </div> 
        </div>
        <div class="row">
            <div class="col-3 ms-5 mt-5">
            </div>
            <div class="col-5">
                <p style="color: #fbf8f2; font-size: 2vh; text-align: center;">Iz širokog asortimana Biana decor proizvoda za enterijer odaberite onaj koji će oživeti Vaš prostor. Uverite se u kvalitet i tradiciju dugu 10 godina.

                </p>
            </div>
            <div class="col-3">
            </div> 
        </div>
        <div class="row" style="padding-top: 2%;">
            <div class="col-5">
            </div>
            <div class="col-2 ms-4">
                <button type="button" class="btn btn-secondary btn-lg">Prodavnica</button>
            </div>
            <div class="col-5">
            </div> 
        </div>
    </div>
</div>

